## [Dropping missing data](https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html#dropping-missing-data)

In [1]:
import pandas as pd
import numpy as np

`dropna()` drops rows or columns with missing data.

In [3]:
df = pd.DataFrame([[np.nan, 1,2], [1,2, np.nan], [1,2,3]])
df

     0  1    2
0  NaN  1  2.0
1  1.0  2  NaN
2  1.0  2  3.0

In [7]:
df.dropna()

     0  1    2
2  1.0  2  3.0

In [8]:
df.dropna(axis=1)

   1
0  1
1  2
2  2

In [11]:
ser = pd.Series([1, pd.NA], dtype='int64[pyarrow]')
ser

0       1
1    <NA>
dtype: int64[pyarrow]

In [12]:
ser.dropna()

0    1
dtype: int64[pyarrow]