## [Filling missing data](https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html#filling-missing-data)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'np': [1,np.nan, np.nan, 2], 'arrow': pd.array([1, pd.NA, pd.NA, 2], dtype = 'float64[pyarrow]')}
data

{'np': [1, nan, nan, 2],
 'arrow': <ArrowExtensionArray>
 [1.0, <NA>, <NA>, 2.0]
 Length: 4, dtype: double[pyarrow]}

In [12]:
df = pd.DataFrame(data)
df

    np  arrow
0  1.0    1.0
1  NaN   <NA>
2  NaN   <NA>
3  2.0    2.0

In [13]:
df.fillna(0)

    np  arrow
0  1.0    1.0
1  0.0    0.0
2  0.0    0.0
3  2.0    2.0

In [14]:
df.ffill()

    np  arrow
0  1.0    1.0
1  1.0    1.0
2  1.0    1.0
3  2.0    2.0

In [15]:
df.bfill()

    np  arrow
0  1.0    1.0
1  2.0    2.0
2  2.0    2.0
3  2.0    2.0

In [20]:
df.ffill(limit=1)

    np  arrow
0  1.0    1.0
1  1.0    1.0
2  NaN   <NA>
3  2.0    2.0