#### [Working with missing Data](https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html#working-with-missing-data)

In [1]:
import pandas as pd
import numpy as np
import pyarrow as pa

In [2]:
pd.Series([11,12], dtype=np.int64).reindex([0,1,2])

0    11.0
1    12.0
2     NaN
dtype: float64

In [3]:
pd.Series([1,2], dtype=np.dtype('timedelta64[ns]')).reindex([0,1,2])

0   0 days 00:00:00.000000001
1   0 days 00:00:00.000000002
2                         NaT
dtype: timedelta64[ns]

In [4]:
pd.Series(['2020','2020'], dtype=pd.PeriodDtype('d')).reindex([0,1,2])

0    2020-01-01
1    2020-01-01
2           NaT
dtype: period[D]

In [5]:
pd.Series([11,12], dtype='Int64').reindex([0,1,2])

0      11
1      12
2    <NA>
dtype: Int64

In [18]:
x= pd.Series([True, False, True, False], dtype='boolean[pyarrow]').reindex([0,1,2,3])
print(x)
x.memory_usage(deep=True)

0     True
1    False
2     True
3    False
dtype: bool[pyarrow]

33

In [9]:
y = pd.Series([True, False], dtype=bool).reindex([0,1,2])
print(y)
y.memory_usage()

0     True
1    False
2      NaN
dtype: object

48

In [17]:
x= pd.Series([True, False, True, False], dtype='boolean[pyarrow]').reindex([0,1,2,3,4])
print(x)
x.memory_usage()

0     True
1    False
2     True
3    False
4     <NA>
dtype: bool[pyarrow]

42

In [21]:
ser = pd.Series([pd.Timestamp('2025-08-26'), pd.NaT])
print(ser)

0   2025-08-26
1          NaT
dtype: datetime64[ns]

In [23]:
pd.isna(ser)

0    False
1     True
dtype: bool

In [30]:
# isna() or notna() will also consider None a missing value.
ser1 = pd.Series([11, None], dtype='object')
print (ser1)
pd.isna(ser1)

0      11
1    None
dtype: object

0    False
1     True
dtype: bool

Equality compaisons between `np.nan`, `NaT`, and `NA` do not act like `None`

In [32]:
None == None # noqa: E711

True

In [33]:
np.nan == np.nan

False

In [34]:
pd.NaT == pd.NaT

False

In [35]:
pd.NA == pd.NA

Therefore, an equality comparison between a `DataFrame` or `Series` with one of these missing values does not provide the same information as `isna()` or `notna()`.

In [43]:
ser = pd.Series([True, None], dtype='boolean[pyarrow]')
print(ser)

print(ser == pd.NA)

ser.isna()

0    True
1    <NA>
dtype: bool[pyarrow]
0    <NA>
1    <NA>
dtype: bool[pyarrow]

0    False
1     True
dtype: bool